.s-landing {
  @include flex-center;
  background-size: cover !important;
  text-align: center;
  color: $smoke;

  h1 {
    margin-bottom: 5rem;
    padding: 4rem 5rem;
    border: 1px solid $smoke;
    font-size: 4.8rem;
    -webkit-font-smoothing: antialiased;

    @include media-query($tablet-sm) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.8rem;

    @include media-query($tablet-sm) {
      font-size: 1.4rem;
    }
  }

  @include media-query($tablet-lg) {
    height: calc(100vh - 160.34px);
  }
}

.page-template-page-services .site-footer {
  display: none;
}
