.page-locked {
  .inner {
    min-height: 40vh;

    label {
      display: block;
      margin-bottom: 3rem;
      text-align: center;
    }

    input {
      display: block;
      margin: 0 auto;
    }

    .password-box {
      width: 200px;
      padding: 1rem;
      text-align: center;
    }

    .button {
      margin-top: 2rem;
      font-family: $font_main;
    }
  }
}
