<div class="instagram">

    <div class="flex">

        <a class="instagram__follow" href="url_goes_here.com" target="_blank">Follow us on Instagram</a>

        <a class="instagram__user instagram__user--d" href="url_goes_here.com" target="_blank">@handlegoeshere</a>

    </div>

    {{ fn('do_shortcode', '[instagram-feed]') }}

</div>