<div class="post-pagination u-mb-rhythm">
    {% if post.next %}
      <a href="{{ post.next.link }}" class="nav-text">
        <h2>Back</h2>
      </a>
    {% endif %}
    <!-- {% if post.next and post.prev %}
      <img src="{{theme.link}}/assets/images/circles2.png" alt="">
    {% endif %} -->
    {% if post.prev %}
      <a href="{{ post.prev.link }}" class="nav-text">
        <h2>Next</h2>
      </a>
    {% endif %}
</div>
