<div class="search">

  <form class="search__form" action="{{ site.url }}" method="get" role="search">

    <input autocomplete="off" class="search__text" name="s" type="search">

    <input class="search__submit" type="submit" value=">">

  </form>

</div>
