{% extends "base.twig" %}

{% block content %}

  <div class="not-found wrapper">

    <h1>Whoops!</h1>

    <hr>

    <p>We can't find the page you're looking for.</p>

    <a href="{{ site.link }}" class="btn-primary">Return to the home page</a>

  </div>

{% endblock %}
