/* FONTS */

@font-face {
  font-family: 'range';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/RangeMono.woff2') format('woff2'),
    url('../../assets/fonts/RangeMono.woff') format('woff');
}

@font-face {
  font-family: 'canela';
  font-style: normal;
  font-weight: 200;
  src: url('../../assets/fonts/CanelaThin.woff2') format('woff2'),
    url('../../assets/fonts/CanelaThin.woff') format('woff');
}

@font-face {
  font-family: 'leitura';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/LeituraNews-Roman1.woff2') format('woff2'),
    url('../../assets/fonts/LeituraNews-Roman1.woff') format('woff');
}

@font-face {
  font-family: 'nimbus';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/NimbusSanL-Reg.woff.woff2') format('woff2'),
    url('../../assets/fonts/NimbusSanL-Reg.woff.woff') format('woff');
}
