html {
  font-size: 10px;
}

body {
  color: $color_text;
  font-family: $font_main;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 3.5rem;
  line-height: 1.4;

  @include media-query($tablet-lg) {
    font-size: 3.25rem;

    br {
      display: none;
    }
  }

  @include media-query($mobile-lg) {
    font-size: 2.75rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 1.16;

  @include media-query($mobile-lg) {
    font-size: 2.5rem;
  }
}

h3,
.h3 {
  font-size: 2rem;

  @include media-query($tablet-sm) {
    br {
      display: none;
    }
  }

  @include media-query($mobile-lg) {
    font-size: 1.85rem;
  }
}

h4,
.h4 {
  margin-bottom: 2rem;
  font-family: $font_second;
  font-size: 1rem;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  -webkit-text-stroke: 0.025em $black;
  -webkit-font-smoothing: antialiased;
}

h5 {
  font-size: 1rem;
}

.rte p {
  margin-bottom: 1.2rem;
  letter-spacing: 0.075em;
  line-height: 1.6;
}

i,
.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

b,
strong,
.bold {
  font-weight: 700;
}

// @include media-query($tablet-sm) {
//   h1,
//   .h1 {
//     font-size: 2rem;
//   }
// }
