.b-text-banner {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--text-color);
  padding: var(--spacer) 0;
}
