/* ABOUT PAGE */

.about-one {
  padding: 3.5% 5%;

  .rte {
    column-count: 2;
    column-gap: 3rem;

    p {
      font-size: 1.3rem;
      line-height: 1.6;
    }

    @include media-query($tablet-sm) {
      column-count: 1;
    }
  }

  .logo {
    max-width: 243px;
    margin-left: 6rem;

    @include media-query($tablet-sm) {
      max-width: 180px;
    }

    @include media-query($mobile-lg) {
      max-width: 130px;
    }

    @include media-query($mobile-sm) {
      margin: 0 auto 3rem;
    }
  }

  @include media-query($tablet-lg) {
    padding: 6rem 10% 5rem;
  }

  @include media-query($tablet-sm) {
    .flex-between {
      align-items: flex-start;
    }
  }

  @include media-query($mobile-sm) {
    .flex-between {
      flex-direction: column-reverse;
    }
  }
}

.about-three,
.about-four {
  .column {
    flex-basis: 50%;

    h4 {
      margin: 0.5rem 0 3rem;
    }

    .rte {
      max-width: 360px;
    }
  }
}

.about-three {
  .column:first-of-type {
    padding: 0 10%;

    @include media-query($tablet-lg) {
      padding: 6rem 10%;
    }
  }

  @include media-query($tablet-lg) {
    .flex-between {
      flex-direction: column;
    }
  }
}

.about-four {
  .column:last-of-type {
    padding: 0 10%;

    @include media-query($tablet-lg) {
      padding: 6rem 10%;
    }
  }

  @include media-query($tablet-lg) {
    .flex-between {
      flex-direction: column-reverse;
    }
  }
}
