// past work
.project-info {
  width: 90%;
  margin: 6rem auto 7rem;
  text-align: center;

  p {
    max-width: 500px;
    margin: 4rem auto 1rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  @include media-query($mobile-lg) {
    margin: 4rem auto 5rem;
  }
}

.project-gallery {
  .portrait {

    .column {
      flex-basis: 48.5%;
    }

    @include media-query($tablet-sm) {
      flex-direction: column;

      .column:first-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  .portrait,
  .landscape {
    margin-bottom: 4.5rem;

    @include media-query($laptop-lg) {
      margin-bottom: 2rem;
    }
  }
}
