// colours
$black: #2b2a29;
$white: #F9F9F9;
$gray: #544C4B;
$spice: #9A836F;
$stone: #D7D2CB;
$smoke: #F9F9F9;

$color_text: #2b2a29;
$color_link: #2b2a29;
$color_link-visited: #2b2a29;
$color_link-hover: #9f8f7a;
$color_background-screen: #fff;
$color_text-screen: #d4d5d4;

// background colours
$color_body: #fefefe;

// placeholders
$placeholder_color-foreground: #2b2a29;
$placeholder_color-background: #f9f9f8;

// Other colours
$color_accent: var(--color-accent);

// Helper colours for form error states
$color_disabled: #000000;
$color_disabled-border: #000000;
$color_error: #ff6d6d;
$color_error-bg: #ffffff;
$color_success: #000000;
$color_success-bg: #000000;
