$font_main: 'leitura', georgia, times, serif;
$font_second: 'range', helvetica, arial, sans-serif;
$font_third: 'canela', georgia, times, serif;
$font_fourth: 'nimbus', helvetica, arial, sans-serif;
$font-body: 'leitura', georgia, times, serif;
$font-body-weight: 400;
$font-body-style: normal;
$font-body-bold-weight: 700;
